<nav>
  <ul>
    <li>
      <%= link_to "Inicio", "index.html" %>
    </li>
    <li>
      <%= link_to "Staff", "index.html" %>
    </li>
    <li>
      <%= link_to "Servicios", "index.html" %>
    </li>
    <li>
      <%= link_to "Noticias", "index.html" %>
    </li>
    <li>
      <%= link_to "Contacto", "index.html" %>
    </li>
  </ul>
</nav>