<nav>
  <ul>
    <li>
      <%= nav_link "Inicio", "index.html" %>
    </li>
    <li>
      <%= nav_link "Staff", "staff.html" %>
    </li>
    <li>
      <%= nav_link "Servicios", "index.html" %>
    </li>
    <li>
      <%= nav_link "Noticias", "index.html" %>
    </li>
    <li>
      <%= nav_link "Contacto", "contacto.html" %>
    </li>
  </ul>
</nav>